/* -----------------  User Variables */
$green: #006B5B;

/* ----------------- Mixins */

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@mixin font-size($size, $is-important: false) {
  $size: if(unitless($size), $size, $size / 1px);

  @if $is-important {
    font-size: $size + px !important;
    font-size: ($size / strip-units($base-font-size)) + rem !important;
  } @else {
    font-size: $size + px;
    font-size: ($size / strip-units($base-font-size)) + rem;
  }
}