/* Controls styling on a global level, mainly forum customizations */


/* target the front of the app so we do not change the ACP style */
.ipsApp_front {
	@include NeueLight();
	background: #fff;
	
	a {
		color: #000;
	}
	
	a.ipsType_blendLinks:not( .ipsType_noUnderline ):hover, .ipsType_blendLinks:not( .ipsType_noUnderline ) a:not( .ipsType_noUnderline ):hover {
		color: #f1f1f1;
	}
	
	header  {
		#elUserNav {
			a {
				color: #006b5b;
				@include NeueThin();
				@include font-size(15px);
			}
		}
		#elMenu {
			position: absolute;
			top: 10px;
			left: 880px;
		}
		
		#elSearch {
			position: relative;
			right: 480px;
			top: 15px;
			border: 2px solid #ccc;
		}
		
	}
	
	main {
		&#ipsLayout_body {
			padding: 0 !important;
		}
		.ipsPageHeader {
				min-height: 65px;
				padding: 18px 0 0 0;
			    background: $green;
				background: -moz-linear-gradient(top, rgba(0,104,89,1) 0%, rgba(0,107,91,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,104,89,1)), color-stop(100%,rgba(0,107,91,1)));
				background: -webkit-linear-gradient(top, rgba(0,104,89,1) 0%,rgba(0,107,91,1) 100%);
				background: -o-linear-gradient(top, rgba(0,104,89,1) 0%,rgba(0,107,91,1) 100%);
				background: -ms-linear-gradient(top, rgba(0,104,89,1) 0%,rgba(0,107,91,1) 100%);
				background: linear-gradient(to bottom, rgba(0,104,89,1) 0%,rgba(0,107,91,1) 100%);
				
				.ipsType_pageTitle {
					color: #fff;
					text-transform: uppercase;
					margin-left: 25px;
					@include font-size(22px);
					
					#elCalendars {
						color: #fff;
					}
				}
				
				.ipsType_blendLinks {
						margin-left: 25px;
						margin-top: -5px;
				}
				
				div {
					margin-right: 5px;
					a {
						color: #fff;
					}
				}
				
				.ipsPageHeader_info {
					margin-top: -5px;
					margin-left: 25px;
				}
				
				.ipsUserPhoto {
					position: relative;
					top: -15px;
					left: 10px;
				}
				
					.ipsType_normal {
						color: #f1f1f1;
						padding: 20px;
					}
					
				.ipsFollow a {
					color: #000;
				}
		}
		
		.ipsItemStatus.ipsItemStatus_large {
			background: transparent;
		}
		
		.ipsType_sectionTitle {
			background: $green;
			background: -moz-linear-gradient(top, rgba(0,104,89,1) 0%, rgba(0,107,91,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,104,89,1)), color-stop(100%,rgba(0,107,91,1)));
			background: -webkit-linear-gradient(top, rgba(0,104,89,1) 0%,rgba(0,107,91,1) 100%);
			background: -o-linear-gradient(top, rgba(0,104,89,1) 0%,rgba(0,107,91,1) 100%);
			background: -ms-linear-gradient(top, rgba(0,104,89,1) 0%,rgba(0,107,91,1) 100%);
			background: linear-gradient(to bottom, rgba(0,104,89,1) 0%,rgba(0,107,91,1) 100%);
		}
		.ipsButtonBar {
			background: #c1c1c1;
		}
		
		.ipsType_sectionTitle {
			a {
				color: #fff;
				text-transform: uppercase;
				@include font-size(17px);
				@include NeueBold();
			}
		}
		
		.ipsDataItem {
		
			a {
				&:hover {
					color: #000 !important;
				}
				
				time {
					color: #808080;
				}
				
				.ipsType_blendLinks {
					a:hover {
						color: #000;
					}
				}
			}
		
			.ipsDataItem_icon span img {
				width: 55px;
			}
			
			border-width: 0 2px 2px 2px !important;
			border-color: #ccc;
		
		}
		
		
	}
	
	.ipsItemStatus {
		color: $green;
	}
	
	.ipsAreaBackground_dark {
		background: $green;
	}
	
	.cCalendar td.cCalendar_today, .cCalendarWeek div.cCalendar_today {
		background: #006b5b;
	}
	
	.ipsButton_primary, .ipsButton_important, .ipsButton_verySmall, .ipsButton_alternate {
		color: #fff !important;
		background: $green;
	}
	
	.cPost_contentWrap {
		color: #000;
	}
	
	#navigation {
		display: none;
	
		&.show {
			display:block;
		}
		
		max-width: 300px;
		width: 100%;
		background: #fff;
		box-shadow: 5px 5px 100px #808080;
		position: absolute;
		top: 90px;
		left: 54.3%;
		z-index: 5050;
		
		
		ul {
			padding: 5px;
			display:table-row;
			width: 100%;
			li {
				float: left;
				width: 50%;
				height: 120px;
				display:table-cell;
				text-align: center;
				vertical-align: bottom;
				padding: 15px;
				
				a {
					color: #808080;
					&:hover {
						text-decoration: underline;
					}
				}
				
				img {
					max-width: 70px;
					width: 100%;
					
				}

			}
		}
		
		#bottom {
			text-align: center;
			background: #f2f2f2;
			width: 100%;
			display: block;
			padding: 20px;
			@include font-size(20px);
			
			
			&:hover {
				color: #000;
			}
		}
		
		&:before {
			    border-color: transparent transparent #fff transparent;
				left: 0;
				margin-left: auto;
				margin-right: auto;
				top: -90px;
				z-index: 2;
				display: block;
				content: '';
				position: relative;
				width: 0;
				height: 0;
				border-width: 45px;
				border-style: solid;
				margin-bottom: -80px;
		}
	}
	
	.ipsTabs {
		background: #c1c1c1;
	}
	
	.ipsWidget.ipsWidget_vertical .ipsWidget_title, #elMobileNav {
		background: $green;
	}
	
	.ipsSideMenu_itemActive a, a.ipsSideMenu_itemActive, .ipsSideMenu_withChecks .ipsSideMenu_item > input[type="checkbox"]:checked ~ a, .ipsSideMenu_withRadios .ipsSideMenu_item > input[type="radio"]:checked ~ a {
		background: $green;
	}
}


/* Sign-in Form and other minimal areas */
.ipsLayout_minimal {
	header {
		.ipsLayout_container {
			display: none;
		}
	}
	
	#cmSign-in {
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width:500px;
			width:100%;
			margin-bottom: 20px;
		}
		
		.ipsColumns {
			width: 50%;
			margin: auto;		
			border-radius: 5px;
			background: $green;
			background: -moz-linear-gradient(top, rgba(0,104,89,1) 0%, rgba(0,107,91,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,104,89,1)), color-stop(100%,rgba(0,107,91,1)));
			background: -webkit-linear-gradient(top, rgba(0,104,89,1) 0%,rgba(0,107,91,1) 100%);
			background: -o-linear-gradient(top, rgba(0,104,89,1) 0%,rgba(0,107,91,1) 100%);
			background: -ms-linear-gradient(top, rgba(0,104,89,1) 0%,rgba(0,107,91,1) 100%);
			background: linear-gradient(to bottom, rgba(0,104,89,1) 0%,rgba(0,107,91,1) 100%);
			box-shadow: inset 0 0 20px 2px rgba(0,0,0,0.4);
			
			.ipsPad {
				padding: 30px;
			}
		}
		
		.ipsBox:not( .ipsBox_transparent ):not( .ipsModerated ) {
			background: transparent;
		}
		
		.ipsForm {
			 
			.ipsFieldRow_label {
				color: #fff;
			}
			
			.ipsFieldRow_desc, .ipsButton_link {
				color: #e6e6e6;
			}
			
			.ipsButton_primary {
				background: #e6e6e6;
				color: #666 !important;
				@include NeueBold();
			}
		}
	}
	
}

.ipsDataList:not( .ipsGrid ) .ipsDataItem:last-child, .ipsDataList.ipsDataList_zebra > .ipsDataItem {
	border: 2px solid #ccc;
}

.ipsItemStatus.ipsItemStatus_large.ipsItemStatus_read {
	background: transparent;
}

#ipsLayout_header header {
	background: transparent;
}

html[dir="ltr"] .ipsDataList_large .ipsDataItem_icon {
	padding: 20px;
}

.ipsDataList.ipsDataList_zebra .ipsDataItem:not( .ipsDataItem_selected ):not( .ipsModerated ):not( .ipsDataItem_new ):not( .ipsDataItem_success ):not( .ipsDataItem_warning ):not( .ipsDataItem_error ):not( .ipsDataItem_info ):not( .ipsDataItem_status ):nth-child(even) {
	background: #f2f2f2;
}


/* mobile */
@media only screen and (max-width: 768px){
	.ipsLayout_minimal #cmSign-in .ipsColumns {
		width: 100%;
	}
	
	.ipsApp_front{
		#elLogo img {
			margin-top: 5px;
		}
		
		#elMenu {
			display: none;
		}
		
		header #elSearch {
			position: inherit;
			right: initial;
			top:initial;
		}
	}
}
